[submodule "layers/layer-version"]
	path = layers/layer-version
	url = https://github.com/pirate-charmers/layer-version.git
[submodule "interfaces/interface-gitlab-ci"]
	path = interfaces/interface-gitlab-ci
	url = https://github.com/pirate-charmers/interface-gitlab-ci.git
